ZOHO_CLIENT_ID=""
ZOHO_CLIENT_SECRET=""
ZOHO_REDIRECT_URL=""
ZOHO_DEFAULT_USER_IDENTIFIER=""
ZOHO_USER_IDENTIFIER=""
ZOHO_MYSQL_MODULE="./mysql/mysql_util"
ZOHO_IAMURL="accounts.zoho.com"
ZOHO_BASEURL="www.zohoapis.com"
ZOHO_VERSION="v2"
ZOHO_MYSQL_HOST=""
ZOHO_MYSQL_USERNAME=""
ZOHO_MYSQL_PASSWORD=""

STACK_POOL_SIZE=10
STACK_MAX_ATTEMPTS=10
STACK_DELAY=100

WINSTON_CONSOLE_LEVEL="silly"
WINSTON_LOG_ERROR_LEVEL="error"
WINSTON_LOG_ALL_LEVEL="info"